﻿@model IEnumerable<Entities.User>

@{
    ViewBag.Title = "ListadoUsuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo usuario", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table" id="contenedor">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>

        <th>
            Estatus
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>

            <td>
                @if (item.Status)
                {
                    <span class="label label-success">Activo</span>
                }
                else
                {
                    <span class="label label-danger">Inactivo</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdUser }, new { @class = "btn btn-primary" }) |
                @*@Html.ActionLink("Detalle", "Details", new { id = item.IdUser }, new { @class="btn btn-info"}) |*@
                @if (item.Status)
                {
                <a href="#" class="btn btn-danger" data-id="@item.IdUser" v-on:click="eliminarUsuario(@item.IdUser)">Eliminar</a>
                }
                
            </td>
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/main.js"></script>
}
