﻿
.boxlogin {
    border-radius: 0.5em;
    width: 320px;
    margin: 120px auto;
    box-shadow: 0px 2px 10px #696969;
    padding-top: 0;
}

    .boxlogin .header {
        width: 100%;
        text-align: center;
        background: #fe5000;
        color: #fff;
        font-weight: bold;
        height: 10%;
        padding: 1px;
    }

.boxlogin .caja{
    /*border: 1px solid red;*/
    padding: 5px;
    margin: 10px;

}

    .boxlogin .caja input {
        width: 100%;
        height: 34px;
        /*border-radius: 5px;*/
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border: 1px solid #037ef3;
        margin-bottom: 5px;
    }













   