﻿@model Entities.UserViewModel

@{
    ViewBag.Title = "Login";
}



<div class="boxlogin">

    @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
    {
        <div class="alert alert-danger">
            <h3>@ViewBag.Mensaje</h3>
        </div>
    }
    @using (Html.BeginForm("Inicio", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="forma-group">
            <div class="header">
                <h3>LOGIN</h3>
            </div>
            <div class="caja">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
            </div>

            <div class="caja">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "" } })
            </div>


            <div class="caja">
                <input type="submit" value="Ingresar" class="btn btn-success btn-block" />
            </div>
        </div>
    }
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
